/* ----------Color Scheme------------
Dark Cyan #21897e
Pearl Aqua #69d1c5
Maya Blue #7ebce6
Soft Periwinkle #8980f5
*/

/*************** Site Wide *******************/
*{
    box-sizing: border-box;
}

/*************** Header *******************/
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #21897e;
}

/*************** Hamburger *******************/
.hamburger {
    background: none;
    border: none;
    color: #21897e;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hamburger::before {
    content: "\2630";
    
}
.hamburger.show::before{
    content: "\00D7";
}

/*************** Navigation *******************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}
.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navigation a {
    display: block;
    text-decoration: none;
    padding: .8rem 10px;
    color: #21897e;
    border-bottom: solid 1px #ddd;
}
.navigation li.current {
    background-color: #eee;
}
.navigation a:hover {
    background-color: #7ebce6;

}


h1 {
    margin-left: 10px;
    color:#8980f5;
}

footer {
    background-color: #eee;
    padding:1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    cursor: pointer;

}
.social a {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #ccc solid 1px;
    border-radius: 4px;
}
